@import "tailwindcss";

@theme {
  --color-primary: oklch(58.33% 0.1178 168.22);
  --color-secondary: oklch(87.1% 0.1781 91.77);
  --color-accent4: oklch(61.33% 0.1577 269.05);
  --color-accent3: oklch(62.28% 0.250373 20.7428);
  --color-accent1: oklch(96.13% 0.0211 56.13);
  --color-accent2: oklch(66.46% 0.1877 40.98);

  --color-white: oklch(100% 0 0);
  --collor-black: oklch(12.24% 0.0184 20.07);

  --breakpoint-todo3: 59.375rem;
  --breakpoint-xs: 30rem;
  --breakpoint-s: 40rem;
  --breakpoint-md: 47rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 120rem;

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  @apply font-mono;
  background: oklch(96.13% 0.0211 56.13);
}
